@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
  }
  .popup {
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;
  }
  .popup__open {
    @apply visible top-[50%];
    transform: translate(-50%, -50%) scale(1);
  }
  .nav-list {
    @apply not-italic;
  }
  .copy-item__phone .copy-item__phone__children:active {
    @apply bg-primary dark:bg-bgDark2;
  }
  .copy-item__phone .copy-item__phone__children:before {
    content: "Copied";
    display: none;
    @apply absolute top-[24rem] left-[10rem] bg-secondary px-2 py-1 text-sm text-[#FFF] rounded-[50rem] font-raleway xl:top-[28rem] dark:bg-secondaryDark;
  }
  .copy-item__phone.active .copy-item__phone__children:before {
    display: block;
  }
  .copy-item__email .copy-item__email__children:active {
    @apply bg-primary dark:bg-bgDark2;
  }
  .copy-item__email .copy-item__email__children:before {
    content: "Copied";
    display: none;
    @apply absolute top-[29rem] left-[10rem] bg-secondary px-2 py-1 text-sm text-[#FFF] rounded-[50rem] font-raleway xl:top-[33rem] dark:bg-secondaryDark;
  }
  .copy-item__email.active .copy-item__email__children:before {
    display: block;
  }
}
